.forgot-password-container {
    margin: 0;
    font-family: Noto Sans KR;
    background: linear-gradient(to bottom, #4D48F5, #BB62F6, #C97AF5, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .forgot-password-box {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 400px;
    text-align: center;
    margin-top: 4%;
  }
  
  .forgot-password-box h1 {
    color: #9f5fff;
    margin-bottom: 30px;
    font-size: 2em;
  }
  
  .forgot-password-box p {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
  }
  
  .forgot-password-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #9f5fff;
    outline: none;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .forgot-password-box input:focus {
    border-bottom: 2px solid #635EFF;
  }
  
  .forgot-password-box button {
  width: 100%; /* 버튼의 너비를 적절히 조정 */
  padding: 12px;
  margin: 20px auto 0 auto;
  /* 상단 여백 20px, 좌우 중앙 정렬 */
  background: linear-gradient(to right, #9f5fff, #5f75ff);
  border: none;
  color: white;
  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  /* 중앙 정렬을 위한 block 설정 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.forgot-password-box button:hover {
  background-color: #8565FF;
}

.forgot-password-box button:focus {
  outline: none;
}

.forgot-password-box a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #5f75ff;
  font-size: 0.9em;
  transition: color 0.3s ease;
}

.forgot-password-box a:hover {
  text-decoration: underline;
}

/* 메시지 스타일 */
.message {
  font-size: 0.9em;
  text-align: left;
  /* 메시지를 입력 필드 아래 정렬 */
  color: red;
  /* 에러 메시지 기본 색상 */
  margin-top: -10px;
  /* 입력 필드와 메시지 간격 */
  position: static;
  /* 기본 위치로 설정 */
  font-size: 13px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}