body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 스크롤 제거 */
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* 화면 전체 높이 */
  min-height: 91.2vh;
  background: linear-gradient(to bottom, #4D48F5, #BB62F6, #C97AF5);
}

.container {
  display: flex;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  max-width: 100%;
  height: 500px;
}

.welcome-section {
  background: linear-gradient(35deg, #9E1FFF, #B893FF, #635EFF, #B893FF);
  color: white;
  padding: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section h1 {
  font-size: 2.5rem;
  margin: 0;
}

.login-section {
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
  width: 243px;
}

.login-section h2 {
  color: #9f5fff;
  margin-bottom: 20px;
}

.login-section input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #9f5fff;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-section input:focus {
  border-bottom: 2px solid #635EFF;
}

.login-section input::placeholder {
  color: #c0c0c0; /* 기본 placeholder 색상 */
  opacity: 0.8;
}

.login-error-message {
  font-size: 13px; /* 텍스트 크기 */
  color: red; /* 텍스트 색상 */
  margin: 0;
  margin-top: -10px;
  text-align: left; /* 왼쪽 정렬 */
  padding: 5px 10px; /* 상하 5px, 좌우 10px 여백 */
  border-radius: 4px; /* 모서리 둥글게 (선택 사항) */
}



.login-section button {
  width: 100%; /* 버튼의 너비를 적절히 조정 */
  padding: 12px;
  margin: 5px 0 auto; /* 상단 여백 20px, 좌우 중앙 정렬 */
  background: linear-gradient(to right, #9f5fff, #5f75ff);
  border: none;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  display: block; /* 중앙 정렬을 위한 block 설정 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-section button:hover {
  background-color: #8565FF;
}

.additional-links {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-top: 10px; /* 위 요소와의 간격 */
}

.additional-links .top-link {
  text-decoration: none;
  color: #5f75ff;
  font-size: 11px;
  transition: color 0.3s ease;
}

.additional-links .top-link:hover {
  color: #8565FF;
  text-decoration: underline;
}

.additional-links .right-links {
  display: flex;
  gap: 5px; /* 아이디 찾기와 비밀번호 찾기 간격 */
  margin-left: auto; /* 오른쪽 정렬 */
}

.additional-links .right-links a {
  text-decoration: none;
  color: #5f75ff;
  font-size: 11px;
  transition: color 0.3s ease;
}

.additional-links .right-links a:hover {
  color: #8565FF;
  text-decoration: underline;
}


