/*메인 페이지 코디 추천 영역*/
.ai-recommendation {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .recommendation-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .recommend-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .recommend-text {
    background-color: #6b21a8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }
  
  .recommend-text:hover {
    background-color: #4c1d95;
  }
  